.container{
    display: grid;
    grid-template-rows:repeat(7, 100px);
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.topo{
    background-color: rgb(177, 54, 54);
    grid-area: 1 / 1 / 3 / 6;
    color: white;
    text-align: center;
    padding: 20px;
    
}
/* No grid também à possibilidade de usar números negativos*/
.menu{
    background-color: rgb(81, 202, 81);
    grid-area: 3 / 1 / 3 / 6 ;
    color: white;
    text-align: center;
    padding: 20px;
    
}

.principal{
    background-color: rgb(62, 179, 179);
    grid-area: 4 / 1 / 7 / 4 ;
    color: white;
    text-align: center;
    padding: 20px;
    
    
}
.secundario{
    background-color: rgb(23, 43, 43);
    grid-area: 4 / 4 / 7 / 6 ;
    color: white;
    text-align: center;
    padding: 20px;
}

.rodape{
    background-color: rgb(19, 85, 85);
    grid-area: 7 / 1 / 7 / 6 ;
    color: white;
    text-align: center;
    padding: 20px;
    
    
}