.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.caixa-01{
    background-color: rgb(177, 54, 54);
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    color: white;
    text-align: center;
    padding: 20px;
    
}
/* No grid também à possibilidade de usar números negativos*/
.caixa-02{
    background-color: rgb(81, 202, 81);
    grid-row: 1 / -2;
    grid-column: 1 / -3;
    color: white;
    text-align: center;
    padding: 20px;
    
}

.caixa-03{
    background-color: rgb(19, 85, 85);
    grid-row: 2 / 4;
    grid-column: 3 / 5;
    color: white;
    text-align: center;
    padding: 20px;   
}
