
div.container{
    background-color: lightsalmon;
    height: 100px;
    display: flex;
    flex-flow: column wrap-reverse;
}
div.item{
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    flex: auto;    
}
/*

nowrap, wrap,  wrap-reverse

Também á uma maneira de de substituir o code no container
div.container{
    background-color: lightsalmon;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

mantendo assim

div.container{
    background-color: lightsalmon;
    display: flex;
    flex-flow: row nowrap;
}

*/