@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}
p, h1, h2 {
    margin-bottom:10px ;
    text-align: justify;
}
h1, h2{
   margin-bottom: 20px;
   line-height: 1.2em;
   text-align: center;

}

header, section.normal{
    padding: 20px;

}


section.flex-content{
    padding: 20px;
    background-color: lightgray;

    display: flex;
    flex-flow: column nowrap;
}

article.text-media{
    display: flex;
    flex-flow: row wrap;
}
article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;

}

article > div.text{
    flex: 1 1 500px;
}
article > div.media {
    flex: 1 0 400px;

}

div.midia > img {
    display: block;
    margin: auto;
    padding: 10px;
}

iv.midia > iframe {
    display: block;
    margin: auto;
    width: 90vw;
}